<div class="modal">
  <div class="modal__inner">
    <!--<div class="modal__close">{{{closeButton}}}</div>-->
    <div class="model__content">
      <form class="form auth-form" onsubmit="return false">
        <div class="form__title">
          Enter iT
        </div>
        <div class="form__fields">
          {{{loginInput}}}
          {{{passwordInput}}}
        </div>
        {{{authButton}}}
        {{{navLink}}}
      </form>
    </div>
  </div>
</div>
