<div class="modal">
  <div class="modal__inner modal__inner_large">
    <!--<div class="modal__close">{{{closeButton}}}</div>-->
    <div class="model__content">
      <form class="form auth-form" onsubmit="return false">
        <div class="form__title">
          Newbie
        </div>
        <div class="form__fields">
          <div class="form__group">
            {{{firstNameInput}}}
            {{{secondNameInput}}}
          </div>
          <div class="form__group">
            {{{emailInput}}}
            {{{phoneInput}}}
          </div>
          <div class="form__group">
            {{{loginInput}}}
          </div>
          <div class="form__group">
            {{{passwordInput}}}
            {{{confirmPasswordInput}}}
          </div>
        </div>
        {{{authButton}}}
        <a class="link form__link" href="#">Войти</a>
      </form>
    </div>
  </div>
</div>

