<div class="wrapper">
  {{{sidebar}}}
  <form class="profile" onsubmit="return false">
    <div class="profile__name">Изменить пароль</div>
    <div class="profile__info">
      <div class="profile__item">
        <div class="profile__item-name">
          <div class="profile__item-name-text">Старый пароль</div>
        </div>
        <div class="profile__item-value">{{{oldPasswordInput}}}</div>        
      </div>      
      <div class="profile__item">
        <div class="profile__item-name">
          <div class="profile__item-name-text">Новый пароль</div>        
          </div>
        <div class="profile__item-value">{{{newPasswordInput}}}</div>        
      </div>      
      <div class="profile__item">
        <div class="profile__item-name">
          <div class="profile__item-name-text">Повторите новый пароль</div>        
          </div>
        <div class="profile__item-value">{{{confirmNewPasswordInput}}}</div>        
      </div>          
    </div>
    <div class="profile__controls">
      {{{saveButton}}}
    </div>
  </form>
</div>
