<section class="welcome">
  <div class="welcome__logo">
    {{#if isIndex}}
      <div class="welcome__logo-text">Welcome</div>
    {{/if}}
    <div class="welcome__logo-img"><img src="{{balloon}}" alt=""></div>
    <div class="welcome__logo-text">Chat</div>
  </div>

  <h1 class="welcome__h1">
    {{#if isIndex}}
      <strong>iT Chat</strong> — здесь нет искусственного интеллекта, но есть искусство общения!
    {{/if}}
    {{#if is404}}
      <strong>404</strong> — Страницы не существует
    {{/if}}
    {{#if is500}}
      <strong>500</strong> — Сервер испытывает трудности
    {{/if}}
  </h1>

  <p class="welcome__text">
    {{#if isIndex}}
      Привет, это Пеннивайз! iT Chat - это мессенджер, но я знаю, что там что-то не&nbsp;так... Ты можешь получить текстовые сообщения и&nbsp;обменяться файлами, но будь осторожен, друг мой. Не доверяй им слишком много... <span class="welcome__text-emphasis">зловещий смех</span>
    {{/if}}
    {{#if is404}}
      Ой, что-то пошло не так... Так, вот что я думаю - ты наверняка ввел что-то неправильно, а может быть, это было моим зловещим проклятием! <span class="welcome__text-emphasis">зловещий смех...</span> Но не переживай, друг мой, ты всегда можешь вернуться на главную страницу и продолжить свое приключение вместе с нами. И помни - никогда не оставляй свой компьютер без присмотра... кто знает, кто еще может забраться в твою систему! <span class="welcome__text-emphasis">еще более зловещий смех...</span>
    {{/if}}
    {{#if is500}}
      Может быть, это моя вина, может быть, это ошибка разработчиков, а может быть, это просто мистические силы, которые играют с нами. <span class="welcome__text-emphasis">зловещий смех...</span> Но не переживай, друг мой, я всегда рядом и помогу тебе разобраться в этой ситуации. И помни - даже если всё кажется темным и безысходным, не теряй надежду и продолжай двигаться вперед. Кто знает, какие удивительные приключения тебя ждут дальше... <span class="welcome__text-emphasis">мистический смех...</span>
    {{/if}}
  </p>

  <div class="welcome__buttons">
     {{#if isIndex}}
      {{{authButton}}}
      {{{regButton}}}
    {{else}}
      {{{backButton}}}
    {{/if}}
  </div>
  
</section>