<div class="form__field">
  <input name="{{name}}" class="form__input {{#if showError}}form__input_error{{/if}}" type="{{type}}" placeholder="{{title}}" value="{{value}}">
  <span class="form__error">{{errorText}}</span>
</div>